// MemberList.scss
.memberlist{
    display: flex;
    align-items: center;
    font-size: 16px;
    .profile_cont{
        width: 100%;
        display: flex;
        align-items: center;
        img{
            width: 40px;
            height: 40px;
            margin: 10px 15px;
            border-radius: 50%;
            background-size: cover;
        }
        a{
            flex: auto;
        }
        span{
            height: 30px;
            line-height: 30px;
            margin-right: 15px;
            padding: 0 15px; 
            border-radius: 5px; 
            background: #f0f0f0; 
            font-size: 10px;
            color: #8e9399;
        }
    }
    
}